/* Colores principales a utilizar */

$tituloPrincipal : rgb(5, 5, 54);
$barraNav: white;
$textNav: rgb(5, 5, 54);
$texth2: rgb(5, 5, 54);
$texth3: white;
$hoverNav: rgb(160, 143, 194);
$fondo : rgb(213, 215, 215);
$cards: rgb(201, 220, 230);
$hoverCards : rgb(156, 177, 188);
$bordeCard: rgb(17, 2, 40);
$contacto : rgb(125, 171, 148);
$footer : rgb(5, 5, 54); 

/* Colores para el botón de los productos */

$color-principal: #ffffff;
$color-hover: #ffffff61; 
$color-texto: #0e0433;
$color-texto-hover: #220c74;
$radio-borde: 30px;
$transicion-duracion: 0.3s;
$fondo-talle: #041019;

/* Colores para la sección del carrito */

$color-accion: #4CAF50; 
$color-accion-hover: darken($color-accion, 10%);
$color-accion-active: darken($color-accion, 20%);

$color-eliminar: #FF6347;
$color-eliminar-hover: darken($color-eliminar, 10%);
$color-eliminar-active: darken($color-eliminar, 20%); 

$color-vaciar: #DC143C;
$color-vaciar-hover: darken($color-vaciar, 10%);
$color-vaciar-active: darken($color-vaciar, 20%);
$bgColorProducto: #f4f4f4;
$textCarrito: rgb(5, 5, 57);
$colorCarritoTarjeta: rgb(73, 73, 112);
$colorSombra: rgba(0, 0, 0, 0.1);
